<!DOCTYPE html>
<html>
    <head>
        <title>Lecturers Availability </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
        <script src="studentsupport.js"></script>
        <script src="all_lecturers.js"></script>
        <link rel="stylesheet" href="data_style.css">
    </head>
    <body>
        <h1>Lecturers Availability<i class="fa fa-address-card" aria-hidden="true"> </i>
        </h1>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" /> 
        <div ng-app="SSapp" ng-controller="lecturerController">
            <table class="customTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Lecture_ID</th>
                    <th>Gender</th>
                    <th>Availability</th>
                </tr>
                </thead>
                <tr ng-repeat = "lecturer in lecturers">
                    <td>{{ lecturer.Name }}</td>
                    <td>{{ lecturer.Lecturer_ID }}</td>
                    <td>{{ lecturer.Gender }}</td>
                    <td>{{ lecturer.Availability }}</td>
                    <td><input type="text" ng-model="lecturer.Availability"></td>
                
                    <td><input type="button" ng-click="deleteLecturer(lecturer.Lecturer_ID)" value="Delete"></td> 
                    <td><input type="button" ng-click="updateLecturer(lecturer)" value="Edit Availability"></td>                                     
                </tr>
                <tr>
                    <td><input type="text" ng-model="new_lecturer.Name" placeholder='Name'></td>
                    <td><input type="text" ng-model="new_lecturer.Lecturer_ID" placeholder='LecturerID'></td>
                    <td><input type="text" ng-model="new_lecturer.Gender" placeholder='Gender'></td>
                    <td><input type="text" ng-model="new_lecturer.Availability"placeholder='Availability'></td>
                    <td><input type="button" ng-click="createLecturer()" value="Create"></td>
                </tr>
               
            </table>
        </div>

        <a href="index.html" class= "logout" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 20ms; text-decoration: none; margin: 90%; margin-top: 300px; position: absolute; top: 10%;">Logout</a>

        <a href="index.html" class= "Homepage" style="color: white; background-color: #248FD6; font: sans-serif; font-weight: 100; font-size: 15px; border: solid #248FD6;
        border-radius: 2px; padding: 2px 8px; transition-duration: 0.5ms; text-decoration: none; margin: 80%; margin-top: 300px; position: absolute; top: 10%;">Dashboard</a>

    </body>
</html>